<a href="https://colab.research.google.com/github/dhruvi18/Diabetes_Prediction/blob/main/Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependencies

In [ ]:
import numpy as np# numpy arrays useful for processing 
import pandas as pd# dataframe
from sklearn.preprocessing import StandardScaler#for standardizing the data into common range
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and analysis

PIMA Diabetes dataset for females

In [ ]:
#loading the dataset to a pandas dataframe
diabetes_dataset=pd.read_csv('/content/diabetes.csv')

In [ ]:
#printing the first 5 rows of the dataset
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#No.of rows and columns
diabetes_dataset.shape

(768, 9)

In [ ]:
# Getting the statistical measures of data 
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
diabetes_dataset['Outcome'].value_counts()
#0= non diabetic,1=diabetic

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

Separating data and label

In [ ]:
X=diabetes_dataset.drop(columns='Outcome',axis=1)
Y=diabetes_dataset['Outcome']

In [ ]:
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Standardizing data

In [ ]:
scaler=StandardScaler()

In [ ]:
scaler.fit(X)

StandardScaler()

In [ ]:
standardized_data=scaler.transform(X)     # or can you can directly use scler.fit_transform

In [ ]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

now all the data points of X are in the range of 0 - 1

In [ ]:
type(standardized_data)

numpy.ndarray

In [ ]:
X=standardized_data
Y=diabetes_dataset['Outcome']

In [ ]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

#**Train test Split**

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

Importing the models

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

Comparing the performance of the models based on train test split

In [ ]:
# list of models
models=[LogisticRegression(),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [ ]:
def compare_models_train_test():
  for model in models:
    #training the model
    model.fit(X_train,Y_train)
    #evaluating model
    test_data_prediction=model.predict(X_test)
    accuracy=accuracy_score(Y_test,test_data_prediction)
    print('Accuracy score of the ',model,'=',accuracy)

In [ ]:
compare_models_train_test()

Accuracy score of the  LogisticRegression() = 0.7597402597402597
Accuracy score of the  SVC(kernel='linear') = 0.7727272727272727
Accuracy score of the  KNeighborsClassifier() = 0.7207792207792207
Accuracy score of the  RandomForestClassifier() = 0.7337662337662337

#**Cross Validation**

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
# list of models
models=[LogisticRegression(),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [ ]:
def compare_models_cross_val():
  for model in models:
    cv_score=cross_val_score(model,X,Y,cv=5)
    mean_accuracy=sum(cv_score)/len(cv_score)
    mean_accuracy=mean_accuracy*100
    mean_accuracy=round(mean_accuracy,2)
    print('Cross Validation for the ',model,'=',cv_score)
    print('Accuracy % of the',model,mean_accuracy)
    print('-------------------------------------------')

In [ ]:
compare_models_cross_val()

Cross Validation for the  LogisticRegression() = [0.77272727 0.74675325 0.75324675 0.81699346 0.76470588]
Accuracy % of the LogisticRegression() 77.09
-------------------------------------------
Cross Validation for the  SVC(kernel='linear') = [0.76623377 0.75974026 0.75974026 0.81699346 0.76470588]
Accuracy % of the SVC(kernel='linear') 77.35
-------------------------------------------
Cross Validation for the  KNeighborsClassifier() = [0.72077922 0.73376623 0.71428571 0.77124183 0.7254902 ]
Accuracy % of the KNeighborsClassifier() 73.31
-------------------------------------------
Cross Validation for the  RandomForestClassifier() = [0.74025974 0.71428571 0.76623377 0.8496732  0.75163399]
Accuracy % of the RandomForestClassifier() 76.44
-------------------------------------------

Inference:Support Vector Machine has the highest accuracy

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
#list of models
models_list=[LogisticRegression(max_iter=10000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier(random_state=0)]

In [ ]:
#creating a dictionary that contains hyperparameter values for above mentioned models
model_params={
    'logistic_regression':{
        'model':LogisticRegression(),
        'params':{
            'C':[1,5,10,20]
        } 
    },

    'svm':{
        'model':svm.SVC(gamma='auto'),
        'params':{'kernel':['linear','poly','rbf','sigmoid'],
        'C':[1,5,10,20]
        }
    },

    'KNN':{
        'model':KNeighborsClassifier(),
        'params':{
            'n_neighbors':[3,5,10]
        }
    },

    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{'n_estimators':[10,20,50,100]
                  }
      
    }
}

Applying GridSearch CV

In [ ]:
scores = []
for model_name,mp in model_params.items():
  classifier=GridSearchCV(mp['model'],mp['params'],cv=5)
  #fitting data into classifier
  classifier.fit(X,Y)

  scores.append({
      'model':model_name,
      'best_score':classifier.best_score_,
      'best hyperparameters':classifier.best_params_
  })

In [ ]:
df = pd.DataFrame(scores,columns=['model','best_score','best hyperparameters'])
df

                 model  best_score       best hyperparameters
0  logistic_regression    0.770885                   {'C': 1}
1                  svm    0.777455  {'C': 5, 'kernel': 'rbf'}
2                  KNN    0.742254         {'n_neighbors': 3}
3        random_forest    0.761811       {'n_estimators': 50}

By gridsearchCV we got to know that SVM is the best model for this dataset

In [ ]:
classifier=svm.SVC(kernel='rbf',C=5)

In [ ]:
classifier.fit(X_train,Y_train)

SVC(C=5)

Model Evaluation

Accuracy Score

In [ ]:
#accuracy score on training data 
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [ ]:
print('Accuracy score of training data: ',training_data_accuracy)

Accuracy score of training data:  0.8680781758957655

In [ ]:
#accuracy score on testing data 
X_test_prediction=classifier.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuracy score of testing data: ',testing_data_accuracy)

Accuracy score of testing data:  0.7142857142857143

Making a predictive system

In [ ]:
input_data=(6,148,72,35,0,33.6,0.627,50)
#changing the input data to numpy array
input_data_as_numpy_array=np.asarray(input_data)

#reshaping the array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

#standardize the input data
std_data=scaler.transform(input_data_reshaped)

prediction=classifier.predict(std_data)
print(prediction)

if(prediction[0]==0):
  print('The person is not diabetic')
else:
   print('The person is diabetic')

[1]
The person is diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Saving trained model

In [ ]:
import pickle

In [ ]:
filename='trained_model.sav'
pickle.dump(classifier,open(filename,'wb'))

In [ ]:
#loading the saved model
loaded_model=pickle.load(open('trained_model.sav','rb'))

In [ ]:
input_data=(6,148,72,35,0,33.6,0.627,50)
#changing the input data to numpy array
input_data_as_numpy_array=np.asarray(input_data)

#reshaping the array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

prediction=loaded_model.predict(input_data_reshaped)
print(prediction)

if(prediction[0]==0):
  print('The person is not diabetic')
else:
   print('The person is diabetic')

[0]
The person is not diabetic